In [5]:
import pandas as pd
import os

In [6]:
os.getcwd()

'c:\\Laukik\\weather'

In [7]:
os.chdir("..")
os.getcwd()

'c:\\Laukik'

In [8]:
santacruz_df  = pd.read_csv("imd_data\santacruz_data.csv")
santacruz_df

FileNotFoundError: [Errno 2] No such file or directory: 'imd_data\\santacruz_data.csv'

In [ ]:
required_columns = ["INDEX","YEAR", "HR", "DT", "MN", "DPT", "WBT", "DBT", "SLP", "MSLP", "RH", "DD", "FFF", "RF"]

In [ ]:
santacruz_new_columns = santacruz_df[required_columns].copy()
santacruz_new_columns

,INDEX,YEAR,HR,DT,MN,DPT,WBT,DBT,SLP,MSLP,RH,DD,FFF,RF
0,43003,2010,0,1,1,14.8,17.4,21.2,1008.4,1010.1,67,0,0,0.0
1,43003,2010,0,2,1,17.8,19.4,22.0,1009.5,1011.2,77,0,0,0.0
2,43003,2010,0,3,1,20.0,21.4,24.0,1011.5,1013.2,78,0,0,0.0
3,43003,2010,0,4,1,16.1,18.6,22.4,1012.0,1013.7,68,32,6,0.0
4,43003,2010,0,5,1,17.8,18.4,19.4,1009.3,1011.0,90,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35271,43003,2024,84,26,11,13.5,NaN,19.4,0.0,0.0,69,0,0,0.0
35272,43003,2024,84,27,11,11.7,NaN,22.0,0.0,0.0,52,0,0,0.0
35273,43003,2024,84,28,11,12.1,NaN,19.6,0.0,0.0,62,0,0,0.0
35274,43003,2024,84,29,11,12.5,NaN,22.0,0.0,0.0,55,5,6,0.0
35275,43003,2024,84,30,11,14.6,NaN,19.4,0.0,0.0,74,0,0,0.0

In [ ]:
santacruz_new_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35276 entries, 0 to 35275
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   INDEX   35276 non-null  int64
 1   YEAR    35276 non-null  int64
 2   HR      35276 non-null  int64
 3   DT      35276 non-null  int64
 4   MN      35276 non-null  int64
 5   DPT     35276 non-null  float64
 6   WBT     34060 non-null  float64
 7   DBT     35274 non-null  float64
 8   SLP     35276 non-null  float64
 9   MSLP    35276 non-null  float64
 10  RH      35276 non-null  int64
 11  DD      35276 non-null  object
 12  FFF     35276 non-null  object
 13  RF      34893 non-null  float64
dtypes: float64(6), int64(6), object(2)
memory usage: 3.8+ MB

In [ ]:
santacruz_new_columns["FFF"] = pd.to_numeric(santacruz_new_columns["FFF"], errors="coerce")
santacruz_new_columns["DD"] = pd.to_numeric(santacruz_new_columns["DD"], errors="coerce")

In [ ]:
santacruz_new_columns.isnull().sum()

INDEX       0
YEAR        0
HR          0
DT          0
MN          0
DPT         0
WBT      1216
DBT         2
SLP         0
MSLP        0
RH          0
DD          8
FFF        13
RF        383
dtype: int64

In [ ]:
santacruz_cleaned = santacruz_new_columns.interpolate()
santacruz_cleaned.isnull().sum()

INDEX    0
YEAR     0
HR       0
DT       0
MN       0
DPT      0
WBT      0
DBT      0
SLP      0
MSLP     0
RH       0
DD       0
FFF      0
RF       0
dtype: int64

In [ ]:
normals = {
    1: 30.4, 2: 31.1, 3: 32.6, 4: 33.0, 5: 33.3, 6: 32.0,
    7: 29.9, 8: 29.5, 9: 30.2, 10: 33.1, 11: 33.4, 12: 31.9
}
santacruz_cleaned.insert(loc=8, column='Normal_Temp', value=santacruz_cleaned['MN'].map(normals))

In [ ]:
santacruz_cleaned

,INDEX,YEAR,HR,DT,MN,DPT,WBT,DBT,Normal_Temp,SLP,MSLP,RH,DD,FFF,RF
0,43003,2010,0,1,1,14.8,17.4,21.2,30.4,1008.4,1010.1,67,0.0,0.0,0.0
1,43003,2010,0,2,1,17.8,19.4,22.0,30.4,1009.5,1011.2,77,0.0,0.0,0.0
2,43003,2010,0,3,1,20.0,21.4,24.0,30.4,1011.5,1013.2,78,0.0,0.0,0.0
3,43003,2010,0,4,1,16.1,18.6,22.4,30.4,1012.0,1013.7,68,32.0,6.0,0.0
4,43003,2010,0,5,1,17.8,18.4,19.4,30.4,1009.3,1011.0,90,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35271,43003,2024,84,26,11,13.5,27.4,19.4,33.4,0.0,0.0,69,0.0,0.0,0.0
35272,43003,2024,84,27,11,11.7,27.4,22.0,33.4,0.0,0.0,52,0.0,0.0,0.0
35273,43003,2024,84,28,11,12.1,27.4,19.6,33.4,0.0,0.0,62,0.0,0.0,0.0
35274,43003,2024,84,29,11,12.5,27.4,22.0,33.4,0.0,0.0,55,5.0,6.0,0.0
35275,43003,2024,84,30,11,14.6,27.4,19.4,33.4,0.0,0.0,74,0.0,0.0,0.0

In [ ]:
df = pd.read_csv(r"notebook\data\combined_data.csv")

In [ ]:
df

       YEAR  HR  DT  MN   DPT   WBT   DBT  SLP  RH  DD  FFF  RF
0      2010   0   1   1  14.8  17.4  21.2  NaN NaN NaN  NaN NaN
1      2010   0   2   1  17.8  19.4  22.0  NaN NaN NaN  NaN NaN
2      2010   0   3   1  20.0  21.4  24.0  NaN NaN NaN  NaN NaN
3      2010   0   4   1  16.1  18.6  22.4  NaN NaN NaN  NaN NaN
4      2010   0   5   1  17.8  18.4  19.4  NaN NaN NaN  NaN NaN
...     ...  ..  ..  ..   ...   ...   ...  ...  ..  ..  ...  ..
43620  2025  19  17   4   NaN   NaN   NaN  NaN NaN NaN  NaN NaN
43621  2025  20  17   4   NaN   NaN   NaN  NaN NaN NaN  NaN NaN
43622  2025  21  17   4   NaN   NaN   NaN  NaN NaN NaN  NaN NaN
43623  2025  22  17   4   NaN   NaN   NaN  NaN NaN NaN  NaN NaN
43624  2025  23  17   4   NaN   NaN   NaN  NaN NaN NaN  NaN NaN

[43625 rows x 12 columns]

In [ ]:
df.drop(columns=['SLP','RH','DD','FFF','RF'],inplace=True)

In [ ]:
df

       YEAR  HR  DT  MN   DPT   WBT   DBT
0      2010   0   1   1  14.8  17.4  21.2
1      2010   0   2   1  17.8  19.4  22.0
2      2010   0   3   1  20.0  21.4  24.0
3      2010   0   4   1  16.1  18.6  22.4
4      2010   0   5   1  17.8  18.4  19.4
...     ...  ..  ..  ..   ...   ...   ...
43620  2025  19  17   4   NaN   NaN   NaN
43621  2025  20  17   4   NaN   NaN   NaN
43622  2025  21  17   4   NaN   NaN   NaN
43623  2025  22  17   4   NaN   NaN   NaN
43624  2025  23  17   4   NaN   NaN   NaN

[43625 rows x 7 columns]

In [ ]:
normals = {
    1: 30.4, 2: 31.1, 3: 32.6, 4: 33.0, 5: 33.3, 6: 32.0,
    7: 29.9, 8: 29.5, 9: 30.2, 10: 33.1, 11: 33.4, 12: 31.9
}
df.insert(loc=7, column='Normal_Temp', value=df['MN'].map(normals))

In [ ]:
df.isnull().sum()

YEAR            0
HR              0
DT              0
MN              0
DPT            42
WBT            42
DBT            42
Normal_Temp     0
dtype: int64

In [ ]:
df=df.interpolate()

In [ ]:
if os.path.exists(r"notebook\data\santacruz_combined_normal.csv"):
    print("Labelled processed data exists")
else:
    df.to_csv(r"notebook\data\santacruz_combined_normal.csv", index=False)
    print("Labelled processed data created")

Labelled processed data created

In [ ]:
df['DATE'] = pd.to_datetime(df[['YEAR', 'MN', 'DT']].rename(columns={'MN': 'month', 'DT': 'day'}))
df.set_index('DATE', inplace=True)
df

In [ ]:
df.drop(columns=['YEAR', 'MN', 'DT', 'HR'], inplace=True)

In [ ]:
daily_df = df.resample('D').mean()

In [ ]:
daily_df

In [ ]:
daily_df.isnull().sum()

In [ ]:
daily_df = daily_df.interpolate()
daily_df.isnull().sum()

In [ ]:
if os.path.exists(r"notebook\data\unpred\santacruz_daily.csv"):
    print("Labelled processed data exists")
else:
    daily_df.to_csv(r"notebook\data\unpred\santacruz_daily.csv")
    print("Labelled processed data created")